$ThemeBg: #394657;
$ThemeText: #FFF;
$ThemeText_grey: #777;
$ThemeActiveText: #53c79f;
$AsideWidth: 250px;

:export {
  ThemeBg: $ThemeBg;
  ThemeText: $ThemeText;
  ThemeText_grey: $ThemeText_grey;
  ThemeActiveText: $ThemeActiveText;
  AsideWidth: $AsideWidth;
}